################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DebateLeadToSolution.Post.API/obj
/DebateLeadToSolution.Post.API/bin
/DebateLeadToSolution.User.API/obj
/DebateLeadToSolution.User.API/bin
/Backup
/DebateLeadToSolution.Comment.API/node_modules
/DebateLeadToSolution.Comment.API/obj/Debug
/DebateLeadToSolution.User.Domain/obj
/DebateLeadToSolution.User.Post/obj
/DebateLeadToSolution.Comment.API/public
